@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,wght@1,100&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.main_div {
  width: 336px;
  margin: 0 auto;
  border: 3px solid #c4c4c4;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
}
.color_div {
  width: 100%;
  height: 28px;
  background: #ffdc40;
}

.label {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  position: relative;
}
#sort_button {
  width: 40px;
  height: 20px;
  background-color: white;
  border: 0;
  width: 30px;
  text-align: end;
  cursor: pointer;
  float: right;
  margin-left: 240px;
}
img {
  opacity: 0.3;
}
img:hover {
  opacity: 1;
}
.input {
  width: 95%;
  margin: 0 auto;
  height: 35px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
}
.paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  margin: 15px 10px 0;
  color: #000000;
}
.mainbutton {
  width: 45%;
  margin: 0 auto;
  min-width: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  background: #833ae0;
  border-radius: 71px;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.circlePlus {
  order: -1;
  width: 42px;
  height: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #9953f1;
  border-radius: 71px;
  margin-right: 15px;
}
.deleteButton {
  background-image: url("/src/Assets/Images/delete_img.svg");
  width: 20px;
  height: 20px;
  border: 0;
  background-color: white;
  cursor: pointer;
}

#clearInputValue {
  background-image: url("/src/Assets/Images/delete_img.svg");
  border: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 18px;
  top: 82px;
  background-color: white;
  cursor: pointer;
}

ul {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;
}

input {
  border: 0;
}
.input {
  padding-right: 40px;
}
.taskDiv {
  margin: 8px;
  list-style-type: none;
  display: flex;
  margin-left: 24px;
}
.taskInput {
  width: 83%;
}

.list {
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
